@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #FFFFFF;
        background-color: #2B2B2B;
    }
}

body.light {
    color: #2B2B2B;
    background-color: #FFFFFF;
}

body.dark {
    color: #FFFFFF;
    background-color: #2B2B2B;
}

header {
    text-align: center;
}

.profile-image {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
}

h1 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    margin: 1rem;
    text-align: center;
}

.purple {
    color: #9876AA;
}

.green {
    color: #A5C261;
}

.yellow {
    color: #E8BF6A;
}

.orange {
    color: #CB7731;
}

.theme-toggle {
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 50px;
    height: 24px;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.theme-toggle.visible {
    opacity: 1;
}

.theme-toggle > input {
    display: none;
}

.theme-toggle > input + .peg {
    display: inline-block;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #999999;
    transition: 0.2s;
    background-color: #fff;
}

.theme-toggle > input ~ .bg {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    border: 1px solid #999999;
    background-color: #fff;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.theme-toggle > input ~ .bg::before {
    content: '';
    position: absolute;
    left: calc(100% - 20px);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #262626;
    transition: 0.2s ease-out;
}

.theme-toggle > input ~ .bg::after {
    content: '';
    position: absolute;
    left: calc(100% - 14px);
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.2s ease-out;
}

.theme-toggle > input:checked + .peg {
    left: calc(100% - 24px);
}

.theme-toggle > input:checked ~ .bg {
    background-color: #262626;
}

.theme-toggle > input:checked ~ .bg::before {
    left: 6px;
    width: 14px;
    height: 14px;
    background-color: #ffd712;
    filter: blur(4px);
}

.theme-toggle > input:checked ~ .bg::after {
    background-color: #ffd712;
    width: 12px;
    height: 12px;
    top: initial;
    left: 8px;
}

@media (min-width: 500px) {
    li {
        display: inline;
    }
}